body{
	font-family: roboto;
	padding: 0;
	margin: 0;
}
.container{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.header{
	background: url(chutt.jpg)no-repeat bottom fixed;
	font-family: Droid Serif;
	background-size: cover;
	height: 160px;
	width: 1920px;
	padding-top: 220px;
}
ul li{
	list-style: none;
}
.header ul{
	display: flex;
	padding:100  20px; 
}
.header ul li{
	font-size: 1.1rem;
	letter-spacing: .06rem;
	color: #33ff99;
	padding: 20px;
	margin:0 15px;
	border: 0;
}
.header ul li:hover{
	border-bottom: .5px solid #80ffbf;
}
.nav-link-r{
	margin-left: auto!important; 
}


.section_1{
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}
.section_1 h1{
	font-size: 2.4rem;
	padding: 50px 0 20px 0;
}
.section_1 p{
	font-size: 1.2rem;
	font-weight: 100;
	line-height: 2rem;
}
.item_button_container{
	display: flex;
	padding-top: 30px;
	justify-content: center;
}
.item_button{
	background-color: transparent;
	font-size: 1.2rem;
	letter-spacing: .06rem;
	color: #00bfff;
	padding: 15px 20px;
	border: 1.5px solid #00bfff;
	margin: 25px;
	outline: none;
}
.item_button:hover{
	background-color: #00bfff;
	color:#fff;
}
.item_button_active{
	background-color: #00bfff;
	color: #fff;
}



.section_2{
	max-width: 1400px;
	margin: 100px auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 10px;
}
.product_card{
	width:250px;
	margin: 15px;
	margin-bottom: 50px;
	overflow: hidden;
}
.img_container{
	width: 250px;
	height: 250px;
	overflow: hidden;
}
.product_img{
	width: 100%;
	height: 100%;
	object-fit: contain;

}
.product_card h2{
	font-size: 1.4rem;
	color:  #0086b3;
}
.product_card p{
	font-size: 1.1rem;
	font-weight: 100;
	padding: 5px 20px 5px 0;
	color: #a3a3c2;
}
.product_card h3{
	color: #3d3d5c;
}

.section_3{
	max-width: 1250px;
	display:flex;
	justify-content: center;
	margin: 120px auto;
}
.sec3_img{
	width: 700px;
	object-fit: contain;
}
.sec_content{
	padding: 0 50px;
}
.section_3 h1{
	margin-top: .5px;
	line-height: .5rem;
	padding: 30px;
}
.section_3 h3{
	font-weight: 250;
	line-height: 1.5rem;
	padding: 30px;
}
.read_button{
	background-color: #fff;
	font-size: 1.5rem;
	letter-spacing: .2rem;
	color: #1a1a00;
	padding: 15px  20px;
	border: 1.5px solid #1a1a00;
	margin-top: 20px;
	margin-left: 30px;
	outline: none;
}
.read_button:hover{
	background-color: #ffffcc;
	color: #001a00;
}
footer{
	background-color: #cce6ff;
	padding: .2px;
}
footer{
	text-align: center;
	margin: 0;
}
